.booking-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}

.image-product{
  width: 100%;
}

.location{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 800;
    color: #080900;
}

.description-item{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #080900;
}

.price-item{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #080900;
}


.add-to-cart{
    height: 45px;
    border-width: 0px;
    width: 120px;
    background-color: blue;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 700;
    border-radius: 25px;
    margin-bottom: 30px;
}


@media screen and (max-width:576px){
    .location{
        font-size: 18px;
    }
    .description-item{
        font-size: 18px;
    }

    .add-to-cart{
        width: 160px;
    }

    .heading{
        font-size: 25px;
    }
}

@media screen and ((min-width:577px) and (max-width:767px)){
    .location{
        font-size: 20px;
    }
    .description-item{
        font-size: 22px;
    }

    .add-to-cart{
        width: 200px;
    }

    .heading{
        font-size: 25px;
    }
}